.topic-discussion {
    color: #b95858;
    font-size: 24px;
    font-weight: bold;
    margin-top: 50px;
}

.information-discussion {
    font-size: 18px;
    margin-top: -10px;
}

.profile-creator-discussion {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    top: 20px;
    border: 2px solid #ffcbcb;
}

.profile-participation-discussion {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    border: 2px solid #ffcbcb;
}

.pendapat-wrapper {
    width: 85%;
}

.btn {
    border-radius: 2px;
}

.btn-pendapat:active{
    background-color: #fff;
    outline: none;
    color: var(--success-color);
}

.wrapper-jawaban-diskusi {
    background-color: #F1F1F1;
    margin-top: 75px;
}

.badge-user {
    width: 30px;
    height: 30px;
}

.badges-user-wrapper {
    margin-left: 25px;
    gap: 10px;
}

.wrapper-jawaban-diskusi .card-body {
    padding-top: 30px;
    padding-left: 40px;
    width: 85%;
}

.header-jawaban {
    color: rgba(75, 71, 71, 0.7);
    font-size: 20px;
    font-weight: bold;
}

.answer-date {
    font-weight: bold;
    font-size: 16px;
    color: rgba(108, 101, 101, 0.7);
    padding-right: 20px;
}
