.penelitian__button {
  background: #759d3d;
  padding: 3px 40px;
  border-radius: 2px;
  border: 2px solid #759d3d;
}

.penelitian__button:hover {
  background: #759d3d;
}

.penelitian__button:focus {
  background: #fff;
  border: 2px solid #759d3d;
  color: #759d3d !important;
}

.preview__pdf {
  cursor: pointer;
  position: relative;
  opacity: 0.7;
}

.preview__pdf:hover {
  opacity: 1;
  box-shadow: 2px 3px 10px #dadada !important;
}

.btn[data-bs-toggle='modal']:focus {
  outline: none !important;
  border: none !important;

  background-color: transparent;
}
