h4.section {
  overflow: hidden;
}

h4.section:after {
  content: '';
  display: inline-block;
  height: 0.5em;
  vertical-align: bottom;
  width: 100%;
  margin-right: -100%;
  margin-left: 10px;
  border-top: 1px solid #b5bdc4;
}

.nav-active {
    border-bottom: 2px solid purple;
    padding-bottom: 10px;
}

.btn-outline-success:hover {
  color: white !important;
}